USE [master]
GO
/****** Object:  Database [ConferenceDB]    Script Date: 30.01.2026 6:07:08 ******/
CREATE DATABASE [ConferenceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConferenceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ConferenceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ConferenceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ConferenceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConferenceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConferenceDB]
GO
/****** Object:  Table [dbo].[activities]    Script Date: 30.01.2026 6:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activities](
	[activity_id] [int] IDENTITY(1,1) NOT NULL,
	[activity_name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[event_id] [int] NOT NULL,
	[activity_day] [int] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[duration_minutes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 30.01.2026 6:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities](
	[city_id] [int] IDENTITY(1,1) NOT NULL,
	[city_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city_event]    Script Date: 30.01.2026 6:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city_event](
	[id] [int] NOT NULL,
	[event_id] [int] NOT NULL,
	[city_id] [int] NOT NULL,
 CONSTRAINT [PK_city_event] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 30.01.2026 6:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countries](
	[country_id] [int] IDENTITY(1,1) NOT NULL,
	[country_name] [nvarchar](100) NOT NULL,
	[english_name] [nvarchar](100) NOT NULL,
	[country_code] [nvarchar](10) NOT NULL,
	[country_code2] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[directions]    Script Date: 30.01.2026 6:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[directions](
	[direction_id] [int] IDENTITY(1,1) NOT NULL,
	[direction_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[direction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_registrations]    Script Date: 30.01.2026 6:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_registrations](
	[registration_id] [int] IDENTITY(1,1) NOT NULL,
	[event_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[registration_date] [datetime] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_event_registrations] PRIMARY KEY CLUSTERED 
(
	[registration_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[events]    Script Date: 30.01.2026 6:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[events](
	[event_id] [int] IDENTITY(1,1) NOT NULL,
	[event_name] [nvarchar](200) NOT NULL,
	[direction_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[days_count] [int] NOT NULL,
	[logo_path] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[organizer_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genders]    Script Date: 30.01.2026 6:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genders](
	[gender_id] [int] IDENTITY(1,1) NOT NULL,
	[gender_name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[gender_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jury_activities]    Script Date: 30.01.2026 6:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jury_activities](
	[jury_activity_id] [int] IDENTITY(1,1) NOT NULL,
	[activity_id] [int] NOT NULL,
	[jury_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[jury_activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moderator_activities]    Script Date: 30.01.2026 6:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moderator_activities](
	[moderator_activity_id] [int] IDENTITY(1,1) NOT NULL,
	[activity_id] [int] NOT NULL,
	[moderator_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[moderator_activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 30.01.2026 6:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 30.01.2026 6:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[id_number] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[birth_date] [date] NULL,
	[country_id] [int] NULL,
	[phone] [nvarchar](20) NULL,
	[photo_path] [nvarchar](255) NULL,
	[gender_id] [int] NULL,
	[role_id] [int] NOT NULL,
	[direction_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[activities] ON 

INSERT [dbo].[activities] ([activity_id], [activity_name], [description], [event_id], [activity_day], [start_time], [duration_minutes]) VALUES (1, N'Лидерство в бизнесе', NULL, 4, 1, CAST(N'09:00:00' AS Time), 90)
INSERT [dbo].[activities] ([activity_id], [activity_name], [description], [event_id], [activity_day], [start_time], [duration_minutes]) VALUES (2, N'Технология принятия решений', NULL, 4, 2, CAST(N'10:45:00' AS Time), 90)
INSERT [dbo].[activities] ([activity_id], [activity_name], [description], [event_id], [activity_day], [start_time], [duration_minutes]) VALUES (3, N'Искусство коучинга', NULL, 4, 2, CAST(N'12:30:00' AS Time), 90)
SET IDENTITY_INSERT [dbo].[activities] OFF
GO
SET IDENTITY_INSERT [dbo].[cities] ON 

INSERT [dbo].[cities] ([city_id], [city_name]) VALUES (1, N'Абаза')
INSERT [dbo].[cities] ([city_id], [city_name]) VALUES (2, N'Абакан')
INSERT [dbo].[cities] ([city_id], [city_name]) VALUES (3, N'Абдулино')
GO
SET IDENTITY_INSERT [dbo].[cities] OFF
GO
INSERT [dbo].[city_event] ([id], [event_id], [city_id]) VALUES (1, 2, 34)
INSERT [dbo].[city_event] ([id], [event_id], [city_id]) VALUES (2, 3, 34)
INSERT [dbo].[city_event] ([id], [event_id], [city_id]) VALUES (3, 4, 2)
GO
SET IDENTITY_INSERT [dbo].[countries] ON 

INSERT [dbo].[countries] ([country_id], [country_name], [english_name], [country_code], [country_code2]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', N'895')
INSERT [dbo].[countries] ([country_id], [country_name], [english_name], [country_code], [country_code2]) VALUES (2, N'Австралия', N'Australia', N'AU', N'36')
INSERT [dbo].[countries] ([country_id], [country_name], [english_name], [country_code], [country_code2]) VALUES (3, N'Австрия', N'Austria', N'AT', N'40')
GO
SET IDENTITY_INSERT [dbo].[countries] OFF
GO
SET IDENTITY_INSERT [dbo].[directions] ON 

INSERT [dbo].[directions] ([direction_id], [direction_name]) VALUES (5, N'Аналитика')
INSERT [dbo].[directions] ([direction_id], [direction_name]) VALUES (4, N'Биг Дата')
INSERT [dbo].[directions] ([direction_id], [direction_name]) VALUES (3, N'Дизайн')
SET IDENTITY_INSERT [dbo].[directions] OFF
GO
SET IDENTITY_INSERT [dbo].[event_registrations] ON 

INSERT [dbo].[event_registrations] ([registration_id], [event_id], [user_id], [registration_date], [status]) VALUES (1, 4, 32, CAST(N'2026-01-30T03:43:46.600' AS DateTime), N'registered')
SET IDENTITY_INSERT [dbo].[event_registrations] OFF
GO
SET IDENTITY_INSERT [dbo].[events] ON 

INSERT [dbo].[events] ([event_id], [event_name], [direction_id], [start_date], [end_date], [days_count], [logo_path], [description], [organizer_id]) VALUES (2, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей', 2, CAST(N'2022-10-26' AS Date), CAST(N'2022-10-26' AS Date), 1, NULL, NULL, 8)
INSERT [dbo].[events] ([event_id], [event_name], [direction_id], [start_date], [end_date], [days_count], [logo_path], [description], [organizer_id]) VALUES (3, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения»', 2, CAST(N'2022-07-14' AS Date), CAST(N'2022-07-16' AS Date), 3, NULL, NULL, 8)
INSERT [dbo].[events] ([event_id], [event_name], [direction_id], [start_date], [end_date], [days_count], [logo_path], [description], [organizer_id]) VALUES (4, N'Встреча клуба «Leader stories»: Мотивирующее руководство', 2, CAST(N'2023-11-09' AS Date), CAST(N'2023-11-10' AS Date), 2, NULL, NULL, 8)
SET IDENTITY_INSERT [dbo].[events] OFF
GO
SET IDENTITY_INSERT [dbo].[genders] ON 

INSERT [dbo].[genders] ([gender_id], [gender_name]) VALUES (2, N'женский')
INSERT [dbo].[genders] ([gender_id], [gender_name]) VALUES (1, N'мужской')
SET IDENTITY_INSERT [dbo].[genders] OFF
GO
SET IDENTITY_INSERT [dbo].[jury_activities] ON 

INSERT [dbo].[jury_activities] ([jury_activity_id], [activity_id], [jury_id]) VALUES (1, 1, 52)
INSERT [dbo].[jury_activities] ([jury_activity_id], [activity_id], [jury_id]) VALUES (2, 7, 52)
INSERT [dbo].[jury_activities] ([jury_activity_id], [activity_id], [jury_id]) VALUES (3, 13, 52)
GO
SET IDENTITY_INSERT [dbo].[jury_activities] OFF
GO
SET IDENTITY_INSERT [dbo].[moderator_activities] ON 

INSERT [dbo].[moderator_activities] ([moderator_activity_id], [activity_id], [moderator_id]) VALUES (1, 1, 11)
INSERT [dbo].[moderator_activities] ([moderator_activity_id], [activity_id], [moderator_id]) VALUES (2, 2, 12)
INSERT [dbo].[moderator_activities] ([moderator_activity_id], [activity_id], [moderator_id]) VALUES (3, 3, 13)
SET IDENTITY_INSERT [dbo].[moderator_activities] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (4, N'жюри')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (2, N'модератор')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (3, N'организатор')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [id_number], [password_hash], [full_name], [email], [birth_date], [country_id], [phone], [photo_path], [gender_id], [role_id], [direction_id]) VALUES (1, N'6z92wongmash@tutanota.com', N'Ke22Yh8Pp7', N'Васильев Всеволод Давидович', N'6z92wongmash@tutanota.com', CAST(N'1988-10-16' AS Date), 51, N'7(354)903-53-67', N'foto1.jpg', 1, 3, NULL)
INSERT [dbo].[users] ([user_id], [id_number], [password_hash], [full_name], [email], [birth_date], [country_id], [phone], [photo_path], [gender_id], [role_id], [direction_id]) VALUES (2, N'jkp23vlzsqei@gmail.com', N'Tj78jXeH68', N'Новиков Фёдор Макарович', N'jkp23vlzsqei@gmail.com', CAST(N'1980-08-03' AS Date), 33, N'7(6562)925-01-77', N'foto2.jpg', 1, 3, NULL)
INSERT [dbo].[users] ([user_id], [id_number], [password_hash], [full_name], [email], [birth_date], [country_id], [phone], [photo_path], [gender_id], [role_id], [direction_id]) VALUES (3, N'dncmxp1vqr4t@tutanota.com', N'DF9a8cJf82', N'Фролова Владислава Савельевна', N'dncmxp1vqr4t@tutanota.com', CAST(N'1999-07-13' AS Date), 43, N'7(12)981-33-56', N'foto3.jpg', 2, 3, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__countrie__3436E9A5863947F7]    Script Date: 30.01.2026 6:07:09 ******/
ALTER TABLE [dbo].[countries] ADD UNIQUE NONCLUSTERED 
(
	[country_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__countrie__49B9168F881AA7CB]    Script Date: 30.01.2026 6:07:09 ******/
ALTER TABLE [dbo].[countries] ADD UNIQUE NONCLUSTERED 
(
	[english_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__countrie__7F0EFE9EF5AB8B43]    Script Date: 30.01.2026 6:07:09 ******/
ALTER TABLE [dbo].[countries] ADD UNIQUE NONCLUSTERED 
(
	[country_code2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__countrie__F70188946E40D7EB]    Script Date: 30.01.2026 6:07:09 ******/
ALTER TABLE [dbo].[countries] ADD UNIQUE NONCLUSTERED 
(
	[country_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__directio__F16071597126CD86]    Script Date: 30.01.2026 6:07:09 ******/
ALTER TABLE [dbo].[directions] ADD UNIQUE NONCLUSTERED 
(
	[direction_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_event_user]    Script Date: 30.01.2026 6:07:09 ******/
ALTER TABLE [dbo].[event_registrations] ADD  CONSTRAINT [UQ_event_user] UNIQUE NONCLUSTERED 
(
	[event_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__genders__2FB51D273AA2B281]    Script Date: 30.01.2026 6:07:09 ******/
ALTER TABLE [dbo].[genders] ADD UNIQUE NONCLUSTERED 
(
	[gender_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__783254B1A3619F1D]    Script Date: 30.01.2026 6:07:09 ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616459EA999E]    Script Date: 30.01.2026 6:07:09 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__D58CDE11DE515EA6]    Script Date: 30.01.2026 6:07:09 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[id_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activities] ADD  DEFAULT ((90)) FOR [duration_minutes]
GO
ALTER TABLE [dbo].[event_registrations] ADD  DEFAULT (getdate()) FOR [registration_date]
GO
ALTER TABLE [dbo].[event_registrations] ADD  DEFAULT ('registered') FOR [status]
GO
ALTER TABLE [dbo].[activities]  WITH CHECK ADD FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([event_id])
GO
ALTER TABLE [dbo].[city_event]  WITH CHECK ADD  CONSTRAINT [FK_city_event_cities] FOREIGN KEY([city_id])
REFERENCES [dbo].[cities] ([city_id])
GO
ALTER TABLE [dbo].[city_event] CHECK CONSTRAINT [FK_city_event_cities]
GO
ALTER TABLE [dbo].[city_event]  WITH CHECK ADD  CONSTRAINT [FK_city_event_city_event] FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([event_id])
GO
ALTER TABLE [dbo].[city_event] CHECK CONSTRAINT [FK_city_event_city_event]
GO
ALTER TABLE [dbo].[event_registrations]  WITH CHECK ADD  CONSTRAINT [FK_event_registrations_events] FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([event_id])
GO
ALTER TABLE [dbo].[event_registrations] CHECK CONSTRAINT [FK_event_registrations_events]
GO
ALTER TABLE [dbo].[event_registrations]  WITH CHECK ADD  CONSTRAINT [FK_event_registrations_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[event_registrations] CHECK CONSTRAINT [FK_event_registrations_users]
GO
ALTER TABLE [dbo].[jury_activities]  WITH CHECK ADD FOREIGN KEY([activity_id])
REFERENCES [dbo].[activities] ([activity_id])
GO
ALTER TABLE [dbo].[jury_activities]  WITH CHECK ADD FOREIGN KEY([jury_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[moderator_activities]  WITH CHECK ADD FOREIGN KEY([activity_id])
REFERENCES [dbo].[activities] ([activity_id])
GO
ALTER TABLE [dbo].[moderator_activities]  WITH CHECK ADD FOREIGN KEY([moderator_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([country_id])
REFERENCES [dbo].[countries] ([country_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([gender_id])
REFERENCES [dbo].[genders] ([gender_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_directions] FOREIGN KEY([direction_id])
REFERENCES [dbo].[directions] ([direction_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_directions]
GO
USE [master]
GO
